.a {
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-rigth {
    flex: 1;
}

.a-card.bg {
    position: absolute;
    top: 200px;
    left: 50px;
    background-color: #333;
}

.a-card {
    width: 70%;
    height: 50vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transform: tr;
}

.a-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

@media screen and (max-width: 480px){
    .a{
        height: 60vh;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .a-left{
        width: 100%;
    }

    .a-card{
        height: 30vh;
    }

    .a-card.bg{
        display: none;
    }

    .a-rigth{
        padding: 20px;
    }
}