@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width:6px;
}
::-webkit-scrollbar-track{
  border:0;
}

::-webkit-scrollbar-thumb{
  background-color: #686868;
  border-radius: 10px;
  border: 0px solid transparent;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.4);
}
    
